name: flutter_template
description: A new Flutter project.

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.16.0 <3.0.0'

dependencies:
  adaptive_theme: ^2.3.0
  auto_route: ^3.2.2
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  flutter_hooks: ^0.18.0
  flutter_localizations:
    sdk: flutter
  freezed_annotation: ^1.1.0
  hooks_riverpod: ^2.0.0-dev.0
  intl: ^0.17.0 # localized messages
  json_serializable: ^6.1.4

dev_dependencies:
  auto_route_generator: ^3.2.1
  build_runner: ^2.1.7 # for flutter gen & ・・・
  flutter_gen_runner: ^4.1.5 # flutter gen
  flutter_svg: ^1.0.3
  flutter_test:
    sdk: flutter
  freezed: ^1.1.1
  pedantic_mono: any # linterの設定ファイルをインポート

flutter:
  assets:
    - assets/images/
  generate: false # for localizations
  uses-material-design: true

  fonts:
    - family: Raleway
      fonts:
        - asset: assets/fonts/Raleway-Regular.ttf
        - asset: assets/fonts/Raleway-Italic.ttf
          style: italic
  # - family: xxx
  #     fonts:
  #       - asset: assets/fonts/xxx.ttf

#################################################
# Flutter gen
#################################################
flutter_gen:
  output: lib/gen/ # Optional (default: lib/gen/)
  line_length: 80 # Optional (default: 80)

  # Optional
  integrations:
    flutter_svg: true
    flare_flutter: true
    rive: true
